network:
  version: 2
  renderer: networkd
  ethernets:
    {{ netplan.interface }}:
      dhcp4: yes
      routes:
        - to: default
          via: {{ netplan.gateway }}
      nameservers:
        search: [{{ netplan.search }}]
        addresses: [{{ netplan.dns }}]
